@import "_colors.scss";

.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.main-logo {
    width: 90px;
    height: 90px;
}

.header-text {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.default-button {
    border-color: $baseStyleColor;
    background-color: $genericObjectsBackgroundColor;
    color: $baseStyleColor;

    cursor: pointer;
}