@font-face {
    font-family: ClassicaBold;
    src: url("../resources/fonts/classica/Classica-Bold.ttf");
}

@font-face {
    font-family: ClassicaBook;
    src: url("../resources/fonts/classica/Classica-Book.ttf");
}