@import "_colors.scss";

.services-item {
    margin-bottom: 50px;
    display: flex;
    background-color: $genericObjectsBackgroundColor;
    img{
        height: 250px;
        margin-right: 10px;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 15%;
        color: $baseStyleColor;
        button {
            width: 60px;
            height: 30px;
        }
    }
}

@media screen and (max-width: 900px) {
    .services-item{
    flex-direction: column;

        img {
            width: 120px;
            height: 120px;
        }
    }
}