@import "_colors.scss";
@import "_fonts.scss";
@import "_overrides.scss";

.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.main-logo {
    width: 90px;
    height: 90px;
}

.header-text {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.social-media-icon-items {
    color: $baseStyleColor;

    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 100px;

    img {
        width: 50px;
        height: 50px;
        margin: 3%;
        cursor: pointer;
    }
}

.language-popup {
    position: absolute;
    top: 20px;
    right: 20px;
}

.description {
    margin: auto;
    width: 50%;
    padding-bottom: 70px;
    text-align: center;
}

.center-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 20%;
}

.contact-icon-items {
    color: $baseStyleColor;

    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 10px;

    li {
        img {
            width: 50px;
            height: 50px;
            display: inline-block;
            margin: 20px;
            cursor: pointer;
        }
    }
}

.member-item {
    display: inline-block;
    background-color: $genericObjectsBackgroundColor;
    padding: 20px;
    margin-bottom: 20px;

    h2 {
        font-size: 25px;
        display: block;
        color: $baseStyleColor;
    }
    
    a {
        display: block;
        color: $genericTextStyle !important;
    }
}

.services-item {
    margin-bottom: 50px;
    display: flex;
    background-color: $genericObjectsBackgroundColor;
    img{
        height: 250px;
        margin-right: 10px;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 15%;
        color: $baseStyleColor;
        button {
            width: 60px;
            height: 30px;
        }
    }
}

.contact-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-map {
    padding-left: 50px;
    border: 0;
}

.contact-inputs {
    color: $genericObjectsBackgroundColor;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
}

.contact-input-item {
    label {
        display: block;
    }
}

@media screen and (max-width: 1200px) {
    .contact-information {
        flex-direction: column;
    }

    .contact-map{
        padding: 10px;
        width: 100%;
    }
}

.contact-input-field {
    background-color: $genericObjectsBackgroundColor;
    color: $baseStyleColor;
}

.default-button {
    border-color: $baseStyleColor;
    background-color: $genericObjectsBackgroundColor;
    color: $baseStyleColor;

    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .header-format {
        flex-direction: column;
        display: grid;
    }
}

@media screen and (max-width: 900px) {
    .services-item{
    flex-direction: column;

        img {
            width: 120px;
            height: 120px;
        }
    }
}